html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.col {
  margin: auto;
  vertical-align: top;
  display: inline-block;
  width: 100%; }
  .col img {
    max-width: 100%; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* ----------- GRID ----------- */
.s-1 {
  width: 23.75%; }

.s-2 {
  width: 47.5%; }

.s-3 {
  width: 71.25%; }

.s-4 {
  width: 95%; }

body {
  color: #666;
  font-family: 'Lato', sans-serif;
  text-align: center; }

img {
  max-width: 100%; }

.wrap {
  background: #2980B9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/*Header Styles*/
header {
  width: 100%;
  height: 100vh; }
  header .welcome {
    position: fixed;
    margin-top: 60%;
    left: 0;
    z-index: 0; }
  header .bem {
    font-size: 3rem;
    color: white;
    font-weight: 300;
    display: inline;
    content: "hello"; }
  header .ghost {
    visibility: hidden;
    position: fixed; }
  header .fique {
    font-size: 1.2rem;
    margin-top: 0.6rem;
    color: white;
    width: 78%; }

.spacer-2 {
  height: 25vw; }

/*Main Styles*/
section {
  padding: 1rem 0; }
  section #eu {
    border-radius: 100%;
    width: 36%;
    margin-bottom: 1rem; }

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #666; }

.container {
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 0.3rem;
  padding-top: 1.2rem;
  position: relative;
  z-index: 2;
  transition: 0.5s ease; }
  .container nav {
    visibility: hidden; }
  .container .under {
    margin-top: rem;
    border: 1px solid grey; }
  .container p {
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    width: 95%; }

#mastery {
  margin-top: 5rem; }
  #mastery h2 {
    margin-bottom: 10vw; }
  #mastery h3 {
    width: 50%;
    padding: 1vw;
    font-size: 7vw;
    font-weight: 400;
    border-bottom: 1px solid #aaa; }
  #mastery h4 {
    font-weight: 400;
    margin-top: 1rem; }
  #mastery .code {
    width: 34%;
    border: 1px solid lightgrey;
    border-radius: 100%;
    padding: 0.5rem;
    background-color: lightblue; }
  #mastery .fa-css3-alt {
    color: blueviolet; }

.skill {
  margin: 2rem 0; }
  .skill .fab {
    font-size: 4rem;
    margin-bottom: 0; }
  .skill .fa-html5 {
    color: #F06529; }
  .skill .fa-css3-alt {
    color: #0064B2; }
  .skill .fa-js-square {
    color: #FFDA3E; }
  .skill .fa-sass {
    color: #ff3ff2; }
  .skill .fa-php {
    color: #8B9BC9; }

.pro {
  width: 85%;
  height: 1.2rem;
  background-color: white;
  box-shadow: inset 0px 1px 3px #666;
  border-radius: 3px;
  display: inline-block;
  margin: auto; }
  .pro div {
    height: 1.2rem;
    border-radius: 6px;
    background-color: #9cabe2; }
  .pro .html5 {
    width: 40%; }
  .pro .css3 {
    width: 50%; }
  .pro .sass {
    width: 30%; }
  .pro .js {
    width: 30%; }

#projetos h2 {
  color: grey;
  font-weight: normal;
  margin-bottom: 1rem; }
#projetos h3 {
  border-bottom: 1px solid grey;
  width: 85%;
  font-weight: 400;
  font-size: 5vw;
  padding-bottom: 0.3rem;
  margin: auto;
  margin-bottom: 1rem; }
#projetos article {
  background-color: white;
  width: 93%;
  padding: 1rem 0;
  margin: auto;
  margin: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  box-shadow: inset 0px 0px 3px grey;
  margin-bottom: 2rem;
  display: inline-block; }
  #projetos article img {
    max-width: 97%; }
  #projetos article p {
    display: block;
    margin: auto;
    margin: 1rem;
    margin-bottom: 2rem;
    width: 95%;
    text-align: left; }
  #projetos article a {
    color: grey;
    border: 1px solid grey;
    text-decoration: none;
    padding: 0.5rem 1rem; }

.circle {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  background-color: lightblue; }

/*Footer styles*/
footer {
  color: #9cabe2; }
  footer i {
    font-size: 10vw;
    margin: .5rem 0.2rem;
    color: #9cabe2; }
  footer form {
    width: 100%;
    background-color: white;
    padding: 1rem 0;
    border: 1px solid grey;
    margin: auto;
    position: relative;
    z-index: 2; }
    footer form h2 {
      margin: 1rem; }
    footer form input {
      width: 75%;
      margin-bottom: 3rem;
      margin-top: 0.2rem;
      font-size: 1.2rem; }
    footer form textarea {
      width: 75%;
      margin-top: 2rem; }
    footer form p {
      text-align: left;
      width: 75%;
      font-weight: bold;
      margin: auto; }
    footer form button {
      margin-top: 0.5rem;
      font-size: 1.2rem;
      color: grey;
      background-color: transparent;
      border: 1px solid grey; }
    footer form button:hover {
      cursor: pointer;
      background-color: grey;
      color: white;
      transition: 0.5 ease; }

@media only screen and (min-width: 560px) {
  /*For tablet screens*/
  /* ----------- GRID ----------- */
  .m-1 {
    width: 11.875%; }

  .m-2 {
    width: 23.75%; }

  .m-3 {
    width: 35.625%; }

  .m-4 {
    width: 47.5%; }

  .m-5 {
    width: 59.375%; }

  .m-6 {
    width: 71.25%; }

  .m-7 {
    width: 83.125%; }

  .m-8 {
    width: 95%; }

  /*Header Styles*/
  header {
    height: 90vh; }
    header .welcome {
      margin-top: 35%; }
    header .ghost {
      visibility: visible;
      position: relative; }

  .spacer-2 {
    height: 20vw; }

  /*Main Styles*/
  ul a {
    color: grey;
    padding: 1rem 0;
    cursor: pointer; }
  ul a:hover {
    transition: 0.5s ease;
    background-color: #cccccc; }

  .spacer {
    height: 8rem; }

  section #eu {
    width: 15%;
    position: fixed;
    top: 22%;
    left: 42%;
    transition: 0.5s ease; }

  .container nav {
    visibility: visible;
    margin-bottom: 3rem; }
  .container ul {
    padding-top: 1rem; }
  .container p {
    width: 60%; }

  #sobre p {
    width: 40%;
    margin: auto; }

  #mastery h2 {
    margin-bottom: 1rem; }
  #mastery h3 {
    font-size: 2rem;
    width: 35%; }
  #mastery .code {
    width: 15%;
    margin-bottom: 2rem; }

  .skill {
    margin-top: 2rem; }
    .skill .fab {
      visibility: visible;
      position: static;
      font-size: 5rem; }

  #projetos h2 {
    margin-bottom: 1rem; }
  #projetos h3 {
    font-size: 2.3vw; }
  #projetos article {
    width: 50%; }
    #projetos article a {
      padding: 1vw; }

  /*Footer styles*/
  footer i {
    font-size: 2rem; }
  footer form {
    width: 50%;
    border-radius: 0.6rem; }
    footer form button {
      margin-top: 1rem;
      width: 30%;
      font-size: 1.2rem;
      text-align: center; } }
@media only screen and (min-width: 1140px) {
  /*For pc screens*/
  /* ----------- GRID ----------- */
  .l-1 {
    width: 8%; }

  .l-2 {
    width: 16%; }

  .l-3 {
    width: 24%; }

  .l-4 {
    width: 32%; }

  .l-5 {
    width: 40%; }

  .l-6 {
    width: 48%; }

  .l-7 {
    width: 56%; }

  .l-8 {
    width: 64%; }

  .l-9 {
    width: 72%; }

  .l-10 {
    width: 80%; }

  .l-11 {
    width: 88%; }

  .l-12 {
    width: 96%; }

  /*Header Styles*/
  header {
    height: 90vh; }
    header .welcome {
      margin-top: 23%; }
    header .fique {
      font-size: 1.6rem;
      margin-top: 0.6rem;
      color: rgba(255, 255, 255, 0.7);
      width: 78%; }

  .spacer {
    height: 3.2rem; }

  .spacer-2 {
    height: 5rem; }

  /*Main Styles*/
  section {
    padding-top: 8rem; }
    section #eu {
      width: 8%;
      left: 46%; }

  h2 {
    margin: 2rem 0; }

  .container nav {
    width: 100%;
    padding: 0;
    background-color: white;
    margin-bottom: 0;
    height: 3rem; }
  .container .under {
    border: 1px solid lightblue; }
  .container p {
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    width: 95%; }

  #sobre h2 {
    margin-bottom: 1rem; }
  #sobre p {
    width: 40%;
    margin: auto; }

  #mastery {
    margin-top: 1rem;
    text-align: center; }
    #mastery .code {
      width: 9.5%; }
    #mastery h3 {
      width: 40%;
      padding: 1vw;
      font-size: 2rem;
      font-weight: 400;
      border-bottom: 1px solid #aaa; }
    #mastery h4 {
      font-weight: 400; }
    #mastery .fa-code {
      color: white;
      background-color: lightblue;
      font-size: 15vw;
      border: 1px solid lightgrey;
      padding: 1.7rem 1.2rem;
      border-radius: 100%;
      margin-bottom: 10vw; }
    #mastery .fa-css3-alt {
      color: blueviolet; }

  .skill .fab {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 1rem; }

  .pro {
    width: 85%;
    height: 1.2rem;
    background-color: white;
    box-shadow: inset 0px 1px 3px #666;
    border-radius: 3px;
    display: inline-block;
    margin: auto;
    margin-top: -3rem; }

  #projetos article {
    width: 30%; }
    #projetos article h3 {
      font-size: 1.5rem; }
    #projetos article p {
      text-align: center; }
    #projetos article a {
      padding: 0.5rem; }

  /*Footer styles*/
  footer form {
    width: 30%; } }

/*# sourceMappingURL=styles.css.map */
