html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
   box-sizing: border-box; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
   content: "";
   display: table;
   clear: both;
  }


/* ----------- GRID ----------- */
@for $i from 1 through 4{
  $w: ($i / 4) * 95%;

  .s-#{$i} {width:$w;}
}


body{
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  //Remove below
  height:400vh;
}

/*Header Styles*/
header{
  width:100%;
  height:85vh;

  nav{
    width:100%;

    .mob{
      text-align: right;
      position: fixed;
      z-index:2;
      font-size:3rem;
      padding:0.5rem 1rem;
      color:white;
      background-color:transparent;
    }

    #nav-menu{
      width:100%;
      text-align: center;
      transition:0.5s ease;
      position:fixed;
      top:-20rem;

      a{
        font-size:2rem;
        text-decoration: none;
        color:white;
        font-family:'Roboto', sans-serif;
      }
      .col{
        background-color:transparent;
        padding:0.6rem 0;
        margin:0.04rem 0;
      }
    }
  }//Nav END.
.atach{
  position: fixed;
  left: 0;
  top:15vh;
}
 #eu{
   display: block;
   margin: auto;
   border-radius: 100%;
   width:40%;
   filter: grayscale(100%);
 }
 .welcome{
     font-family: 'Lato', sans-serif;
     text-align: center;
     position: fixed;
     top:45vh;
     z-index:-1;
 }
 .bem{
   font-size:3.5rem;
   color: white;
   font-weight: 300;
 }
 .fique{
   font-size:1.4rem;
   margin-top:0.6rem;
   color:rgba(255, 255, 255,0.6);
 }

}//Header END.



/*Main Styles*/
section{
  padding:1rem 0;

  .titulo{
    font-size:2rem;
    padding:0.5rem 0;
  }

}

.container{
width:90%;
margin:auto;
background-color: white;
height:100vh;
border-radius: 0.3rem;
text-align: center;
padding-top:2.5rem;
z-index:1;

  h2{
    font-family: 'Lato', sans-serif;
    font-size:1.3rem;
    color: $col-5;
  }
  .fas{
  position: relative;
  top:0.1rem;
  color: $col-5;
  }
}






/*Footer styles*/
