$gutter: 20%;


.col{margin:auto;
vertical-align: top;
display: inline-block;
width:100%;
 img{
   max-width:100%;
 }
}

$col-1:#4A849F;
$col-2:#1B3440;
$col-3:#B4D6C6;
$col-4:#F5F1D5;
$col-5:#F2845C;
