html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.col {
  margin: auto;
  vertical-align: top;
  display: inline-block;
  width: 100%; }
  .col img {
    max-width: 100%; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* ----------- GRID ----------- */
.s-1 {
  width: 23.75%; }

.s-2 {
  width: 47.5%; }

.s-3 {
  width: 71.25%; }

.s-4 {
  width: 95%; }

body {
  background: #2980B9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #666;
  height: 400vh; }

/*Header Styles*/
header {
  width: 100%;
  height: 90vh; }
  header nav {
    width: 100%; }
    header nav .mob {
      text-align: right;
      position: fixed;
      z-index: 2;
      font-size: 3rem;
      padding: 0.5rem 1rem;
      color: white;
      background-color: transparent;
      visibility: hidden; }
    header nav #nav-menu {
      width: 100%;
      text-align: center;
      transition: 0.5s ease;
      position: fixed;
      top: -20rem; }
      header nav #nav-menu a {
        font-size: 2rem;
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif; }
      header nav #nav-menu .col {
        background-color: transparent;
        padding: 0.6rem 0;
        margin: 0.04rem 0; }
  header .atach {
    position: fixed;
    left: 0;
    top: 25vh;
    text-align: center; }
  header #eu {
    border-radius: 100%;
    width: 36%; }
  header .welcome {
    font-family: 'Lato', sans-serif;
    text-align: center;
    position: fixed;
    margin-top: 85%;
    z-index: -1;
    left: 0; }
  header .bem {
    font-size: 3rem;
    color: white;
    font-weight: 300; }
  header .fique {
    font-size: 1.2rem;
    margin-top: 0.6rem;
    color: white;
    width: 78%; }

/*Main Styles*/
section {
  padding: 1rem 0; }
  section .titulo {
    font-size: 2rem;
    padding: 0.5rem 0; }

.container {
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 0.3rem;
  text-align: center;
  padding-top: 1.2rem;
  z-index: 1;
  transition: 0.5s ease; }
  .container h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #358EC4; }
  .container #inicio {
    transition: 0.5s ease; }
  .container .spacer {
    height: 45vw; }
  .container .under {
    border: 1px solid lightblue; }
  .container p {
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    width: 95%; }
  .container button {
    background-color: transparent;
    color: #617aa3;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    border: 1px solid #617aa3;
    margin-top: -2vw;
    border-radius: 3px; }

.mastery {
  margin-top: 20vw; }
  .mastery .fa-circle {
    color: lightblue;
    font-size: 40vw;
    margin-bottom: 10vw; }
  .mastery .fa-html5, .mastery .fa-css3-alt, .mastery .fa-js-square {
    font-size: 2vw;
    margin: 5vw 0;
    margin-top: 15vw;
    color: #D1382B; }
  .mastery .fa-css3-alt {
    color: blueviolet; }

/*Footer styles*/
@media only screen and (min-width: 560px) {
  /*For tablet screens*/
  /* ----------- GRID ----------- */
  .m-1 {
    width: 11.875%; }

  .m-2 {
    width: 23.75%; }

  .m-3 {
    width: 35.625%; }

  .m-4 {
    width: 47.5%; }

  .m-5 {
    width: 59.375%; }

  .m-6 {
    width: 71.25%; }

  .m-7 {
    width: 83.125%; }

  .m-8 {
    width: 95%; }

  /*Header Styles*/
  /*Main Styles*/
  /*Footer styles*/ }
@media only screen and (min-width: 1140px) {
  /*For pc screens*/
  /* ----------- GRID ----------- */
  .l-1 {
    width: 8%; }

  .l-2 {
    width: 16%; }

  .l-3 {
    width: 24%; }

  .l-4 {
    width: 32%; }

  .l-5 {
    width: 40%; }

  .l-6 {
    width: 48%; }

  .l-7 {
    width: 56%; }

  .l-8 {
    width: 64%; }

  .l-9 {
    width: 72%; }

  .l-10 {
    width: 80%; }

  .l-11 {
    width: 88%; }

  .l-12 {
    width: 96%; }

  /*Header Styles*/
  /*Main Styles*/
  /*Footer styles*/ }

/*# sourceMappingURL=styles.css.map */
